select {
  display: block;
  width: 200px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 auto;

  &.rel-schema {
    margin-bottom: 30px;
  }
}

label {
  display: block;
  margin-bottom: 6px;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 600;
}

input[type="text"], textarea {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 12px;

  &:focus {
    border-color: $light-blue;
  }
}

.rel-schema-form {
  width: 800px;
  margin: 0 auto 30px;
  @include floatfix;

  &.top-spaced {
    margin-top: 80px;
  }
}


.form-action {
  color: hsl(150, 50%, 40%);
  font-weight: $bold;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.form-row {
  float: left;
  width: 48%;

  &.full {
    float: none;
    width: 100%;
    padding: 0 100px;
    margin: 0 auto 25px;

    &.spaced {
      margin-top: 60px;
    }

    label {
      text-align: center;
    }

    select {
      width: 100%;
      margin: 14px auto 0;
    }
  }

  &.buttons {
    @include floatfix;

    .button {
      float: left;

      &:last-child {
        float: right;
      }
    }
  }

  select {
    margin: 0;
  }

  &:nth-child(even) {
    float: right;
  }

  &:nth-child(odd) {
    clear: both;
  }
}
