@mixin floatfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin transition($time, $what:all, $ease:ease-in-out) {
  transition: $what $time $ease;
}

$max-index: 10000;
