@mixin floatfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin transform_scale($scale) {
  -webkit-transform: scale($scale);
  transform: scale($scale);
}

@mixin transition($time, $what:all, $ease:ease-in-out) {
  transition: $what $time $ease;
}

$max-index: 1000;
